.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}
/* 
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}

th {
  cursor: pointer;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
} */

#search-form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

input,
button[type="search"] {
  height: 30px;
}

input[type="search"] {
  width: 300px;
}
